body,
h1,
h2,
h3,
h4,
h5,
p,
span,
a{
    font-family: 'Work Sans', sans-serif;
}

img{
    max-width: 100%;
}
/* Header css start  */
.navbar-brand img{
    width: 50px;
}
.navbar-brand span {
    color: #c0c0c0;
    font-size: 28px;
    margin-left: 10px;
}
.btn2{
    font-weight: 700;
    transition: .5s;
    border:2px solid #6278df;
    padding: 7px 25px;
}
.btn2:hover{
    color: #ffffff;
    background-color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}
.dropdown-item{
    line-height: 30px;
}
.dropdown-item:hover{
    
}
/* Header css end */
/* banner css start  */
.banner{
    background: url(img/mbr-10.jpg) no-repeat center center;
    padding: 180px 0;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.514);
    z-index: -1;
}
.banner h4 {
    font-size: 28px;
}
.banner h1 {
    font-size: 48px;
    margin-top: 34px;
}
.form-control{
    padding: 12px 15px;  
    margin-top: 30px;   
}
.form-control:focus{
    box-shadow: 3px 3px 27px -3px #6278df;
}
.default-btn {
    background-color: #5ba533;
    border-color: #5ba533;
    color: #ffffff;
    transition: .5s;
    padding: 12px 15px;  
    margin-top: 30px;   
}
.default-btn:hover{
    background-color: #ffffff;
    color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}
/* banner css end */
/* about css start  */
.about{
    background: #f7f9ff;
}
.about-text{
    margin-top: 150px;
}
.about-text p{
    line-height: 2.5rem;
}
/* about css end */